Repository JacobHayes/sigdoc: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

.pre-commit-config.yaml:

default_stages: [commit, push, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
  - repo: local  # Prefer local tools to streamline version management with poetry
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        files: ^pyproject.toml$
        language: system
        pass_filenames: false
      # Rewriters
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --keep-runtime-typing --py39-plus
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [markdown, python]
      # Checkers
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        pass_filenames: false
        types: [python]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        types: [python]

Update coverage and pylint config
  pyproject.toml
Due: poetry-check

Set python upper bound to bump isort
  poetry.lock
  pyproject.toml
Due: poetry-check

Add initial Param, Return, and document implementation
  src/sigdoc/__init__.py
  tests/test_document.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Add screenshot
  docs/jupyter-help.png
Due: none

Update README
  README.md
Due: blacken-docs

Fix bad 3.9 kwarg
  src/sigdoc/__init__.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

README tweaks
  README.md
Due: blacken-docs

Fix implicit Optional around Annotated
  src/sigdoc/__init__.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Ignore python cross-version coverage
  src/sigdoc/__init__.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Bump deps
  poetry.lock
Due: none

Update poetry in CI
  .github/workflows/ci.yaml
Due: none

Fix mypy
  tests/test_document.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Update deprecated set-output GHA syntax
  .github/workflows/ci.yaml
Due: none

Bump to 0.0.2
  pyproject.toml
Due: poetry-check

Relax python version constraint
  poetry.lock
  pyproject.toml
Due: poetry-check

Use grouped dependabot updates and change to Monday
  .github/dependabot.yaml
Due: none

fmt
  src/sigdoc/__init__.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Update deps and fmt
  poetry.lock
  src/sigdoc/__init__.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

limit py version in CI
  .github/workflows/ci.yaml
Due: none

Update ci deps
  .github/workflows/ci.yaml
Due: none

Set CODECOV_TOKEN
  .github/workflows/ci.yaml
Due: none
